<div class="search">
  <form class="search-form" onsubmit="return false">
    <i class="search-icon fas fa-search"></i>
		<input type="text" class="search-input" placeholder="{{t "Type your keywords..."}}" />
	</form>

  <div class="search-results"></div>
</div>
